body {
    font-family: 'Adikku Pandai Menari';
    text-align: center;
    margin: 0px auto;
}

a {
    text-decoration: none;
}

ul li {
    list-style: none;
    color: white;
}

ul {
    padding: 0px 0px;
    margin: 0px 0px;
}

#nav {
    display: grid;
    min-height: 100px;
    grid-auto-flow: column;
    grid-gap: 20px;
    position: -webkit-sticky;
	position: sticky;
    top: 0;
    background-color: white;
}

#logo > img {
    display: grid;
    height: 100px;
    width: 290px;
    float: right;
    margin-right: 20px;
}

#links {
    display: grid;
    justify-content: start;
    align-content: center;
    grid-auto-flow: column;
    grid-gap: 40px;
    font-size: 22px;
}

#links > a {
    color: black;
    font-style: bold;
    font-weight: 800;
}

#links .current {
    color: #2DBDEE;
}

#links > a:hover {
    color: #FBBD41;
}

.longContent {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: minmax(400px, auto);
    padding-top: 60px;
}

.superLong {
    display: grid;
    grid-column: 1 / 3;
    grid-row: 1 / 1;
    align-content: center;
    justify-content: center;
}

.superLong > h2 {
    color: #FBBD41;
    font-size: 45px;
    margin: auto auto;
}

.superLong > p {
    font-size: 20px;
}

.purpleBlock {
    border: 2px solid #772F74;
    padding: 10px;
    border-radius: 50px 20px;
}

.purpleBlock > h2 {
    font-size: 30px;
}

.purpleBlock > p {
    font-size: 18px;
}

td {
    padding-top: 6px;
}

table {
    font-size: 18px;
}


.superLong > p {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

.purpleBlock {
    display: grid;
    grid-column: 3 / 4;
    grid-row: 1 / 1;
    background-color: #772F74;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    padding-bottom: 30px;
}

.purpleBlock > h2 {
    padding-top: 10px;
    margin-bottom: 20px;
}



.button {
    display: inline-block;
    align-self: center;
    padding: 8px 16px;
    border: 1px solid #fabc41;
    border-radius: 8px;
    background: #fabc41;
    font-size: 18px;
    color: white;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.blueBackground {
    display: grid;
    grid-template-columns: 1 / 1;
    grid-template-rows: minmax(300px, auto);
}

.blueHappy {
    display: grid;
    grid-column: 1 / 1;
    grid-row: 1 / 1;
    background-image: url('../images/img5.png');
    align-content: center;
    justify-content: center;
    padding-top: 40px;
    background-repeat: no-repeat;
    background-size: 100%;
}

.blueHappy > h2 {
    font-size: 30px;
}

.blueHappy > p {
    font-size: 18px;
}

.button2 {
    display: inline-block;
    align-self: center;
    padding: 8px 16px;
    border: 1px solid #FBBD41;
    border-radius: 8px;
    background: #772F74;
    font-size: 22px;
    color: #FBBD41;
    margin-left: auto;
    margin-right: auto;
}

.topFooter {
    display: grid;
    grid-template-columns: 1fr 1fr 20px 1fr 1fr 1fr;
    /*grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;*/
    grid-template-rows: auto auto;
    background-color: #772F74;
}

.whiteLogo, img {
    display: grid;
    grid-column: 2 / 3;
    grid-row: 1 / 1;
    width: 500px;
    height: 160px;
}

.text {
    display: grid;
    grid-column: 2 / 2;
    grid-row: 2 / 2;
    color: white;
    line-height: 1.8;
    letter-spacing: 1px;
    font-size: 18px;
    
}

.siteMap {
    display: grid;
    grid-column: 4 / 4;
    grid-row: 1 / 1;
    justify-content: center;
    align-content: flex-end;
    color: white;
    font-size: 18px;
}

.map {
    display: grid;
    grid-column: 4 / 4;
    grid-row: 2 / 2;
}

.space {
    padding: 10px 0px;
}

.get {
    display: grid;
    grid-column: 5 / 5;
    grid-row: 1 / 1;
    justify-content: center;
    align-content: flex-end;
    color: white;
    font-size: 18px;
}

.inTouch {
    display: grid;
    grid-column: 5 / 5;
    grid-row: 2 / 2;
}

.inTouch > ul > li {
    padding-bottom: 0px;
}

.inTouch > p, a {
    color: white;
}

.bottomFooter {
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: 1 minmax(100px, auto);
   background-color: black;
}

.left {
    display: grid;
    grid-column: 1 / 1;
    grid-row: 1 / 1;
    color: white;
}

.right {
    display: grid;
    grid-column: 2 / 2;
    grid-row: 1 / 1;
    color: white;
}

.left , .right {
    padding: 10px 0px;
}