body {
    font-family: 'Adikku Pandai Menari';
    text-align: center;
    margin: 0px auto;
}

a {
    text-decoration: none;
}

ul li {
    list-style: none;
    color: white;
}

ul {
    padding: 0px 0px;
    margin: 0px 0px;
}

#nav {
    display: grid;
    min-height: 100px;
    grid-auto-flow: column;
    grid-gap: 20px;
    position: -webkit-sticky;
	position: sticky;
    top: 0;
    background-color: white;
}

#logo > img {
    display: grid;
    height: 100px;
    width: 290px;
    float: right;
    margin-right: 20px;
}

#links {
    display: grid;
    justify-content: start;
    align-content: center;
    grid-auto-flow: column;
    grid-gap: 40px;
    font-size: 22px;
}

#links > a {
    color: black;
    font-style: bold;
    font-weight: 800;
}

#links .current {
    color: #2DBDEE;
}

#links > a:hover {
    color: #FBBD41;
}

.bigHeading {
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: minmax(250px, auto);
    background-color: #FBBD41;
}

.headingText {
    display: grid;
    grid-column: 1 / 1;
    grid-row: 1 / 1;
    background-color: #772F74;
    margin: auto auto auto auto;
    align-content: center;
    height: 50%;
    width: 50%;
}

.headingText > h1 {
    font-size: 35px;
    color: #FBBD41;
}

.fontawsome {
    display: grid;
    grid-template-columns: 400px 1fr 100px 1fr 100px 1fr 400px;
    grid-template-rows: 200px minmax(300px, auto);
}

.fontawsome > ul > * > * {
    color: black;
}

.fontawsomeHeading {
    display: grid;
    grid-column: 1 / 8;
    grid-row: 1 / 1;
    justify-content: center;
    align-content: center;
    font-size: 22px;
}

.test1 {
    display: grid;
    grid-column: 2 / 3;
    grid-row: 2 / 2;
}

.test2 {
    display: grid;
    grid-column: 4 / 5;
    grid-row: 2 / 2;
}

.test3 {
    display: grid;
    grid-column: 6 / 7;
    grid-row: 2 / 2;
}

.subHeading {
    font-size: 25px;
}

.fontawsome > ul > li > a {
    font-size: 18px;
}

.mapForm {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: minmax(800px, auto);
}

.mapImg {
    display: grid;
    grid-column: 1 / 1;
    grid-row: 1 / 1;
}

.mapImg > img {
    height: auto;
    width: auto;
    margin: auto auto;
}

.form {
    display: grid;
    grid-column: 2 / 2;
    grid-row: 1 / 1;
    width: 70%;
    margin: auto auto;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 2px solid black;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    font-family: 'Adikku Pandai Menari';
}

input[type=datetime-local] {
    font-family: 'Adikku Pandai Menari';
}

label[for=preferredappointment] {
    font-family: 'Adikku Pandai Menari';
}

label {
    float: left;
}

input[type=submit] {
    background-color: black;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    font-family: 'Adikku Pandai Menari';
}

.topFooter {
    display: grid;
    grid-template-columns: 1fr 1fr 20px 1fr 1fr 1fr;
    /*grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;*/
    grid-template-rows: auto auto;
    background-color: #772F74;
}

.whiteLogo, img {
    display: grid;
    grid-column: 2 / 3;
    grid-row: 1 / 1;
    width: 500px;
    height: 160px;
}

.text {
    display: grid;
    grid-column: 2 / 2;
    grid-row: 2 / 2;
    color: white;
    line-height: 1.8;
    letter-spacing: 1px;
    font-size: 18px;
    
}

.siteMap {
    display: grid;
    grid-column: 4 / 4;
    grid-row: 1 / 1;
    justify-content: center;
    align-content: flex-end;
    color: white;
    font-size: 18px;
}

.map {
    display: grid;
    grid-column: 4 / 4;
    grid-row: 2 / 2;
}

.space {
    padding: 10px 0px;
}

.get {
    display: grid;
    grid-column: 5 / 5;
    grid-row: 1 / 1;
    justify-content: center;
    align-content: flex-end;
    color: white;
    font-size: 18px;
}

.inTouch {
    display: grid;
    grid-column: 5 / 5;
    grid-row: 2 / 2;
}

.inTouch > ul > li {
    padding-bottom: 0px;
}

.inTouch > p, a {
    color: white;
}

.bottomFooter {
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: 1 minmax(100px, auto);
   background-color: black;
}

.left {
    display: grid;
    grid-column: 1 / 1;
    grid-row: 1 / 1;
    color: white;
}

.right {
    display: grid;
    grid-column: 2 / 2;
    grid-row: 1 / 1;
    color: white;
}

.left , .right {
    padding: 10px 0px;
}